
/* .NavBar {
	border: 2px solid red;			
} */
/* 
body{
	height:100%;
	width: 100%;
 }
 
 #app div{
 height:100%;
 width: 100%;
 } */

/* #wrapper {
	min-height: 100%; 
} */
.Filter {
	border: 2px solid green;			
}

.Display {
	border: 2px solid blue;			
}

.basicFlexbox {
  display: flex;
  flex-direction: row;
}


